*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{ 
    height: 250px;
    width: 600px;
    background-color: green;
    border: 2px;
}
.container::after  {
    content: "";
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 50%;
}
.container::before{
    content: '';
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    border-bottom: 10px solid white;
    background-color: #fff;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

